blockquote{
    background-color: #D9E5E3;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    
}
.fiat{
    float: right;
}
.petrobras{
    float: left;25
}
.time{
    font-family: "Open Sans Condensed",sans-serif;
    
    width: 300px;
    border: 5px solid #000000;
    margin: 5px;
    padding: 5px;
    float: left;
}